/* Styling for Button */
.button {
    -fx-background-color: rgba(239, 239, 11, 0.71); /* Yellow background color */
    -fx-background-radius: 20px; /* Round edges */
    -fx-text-fill: black; /* Set text color */
    -fx-font-size: 14px; /* Set font size */
    -fx-padding: 8px 16px; /* Add padding */
}

/* Styling for Button hover */
.button:hover {
    -fx-background-color: orange; /* Orange background on hover */
}

/* Styling for VBox */
.vbox:hover {
    -fx-background-color: rgba(54, 171, 26, 0.83); /* Greenish background on hover */
}

/* Styling for VBox children */
.vbox > * {
    -fx-font-weight: bold; /* Make text bold */
    -fx-font-size: 20px; /* Set font size */
}
