.white-background{
-fx-background-color: #fff;
        }
.navbar{
        -fx-background-color: #F8BC24;
}.navbar-top{
        -fx-background-color: #000103;
}
.transparent{
        -fx-background-color: rgba(0,0,0,0);
}
.button
{
        -fx-background-color: transparent;
}
.button:hover
{
        -fx-background-color: #26D48C;
}
.button:pressed
{
        -fx-background-color: #788081;
}
.round-layout{
        -fx-border-radius: 50;
        -fx-border-color: #D7D7D7;
}
.selected{
        -fx-background-color: #F3F3F3;
}
.mouse-moved:hover{
        -fx-background-color: #E4E4E4;
}